# Auto detect text files and perform LF normalization
* text=auto

# Force files to stay in the bar but treat them as 'Data' or 'Documentation'
# This keeps them visible in the bar without over-counting them as code
*.html linguist-detectable=true linguist-documentation=true
*.css linguist-detectable=true linguist-documentation=true
*.js linguist-detectable=true linguist-documentation=true
*.ui linguist-detectable=true linguist-documentation=true

# Forcefully prioritize Python
*.py linguist-detectable=true